{{ define "title" }}japoto{{ end }}
{{ define "content" }}
{{ $PublicURL := .PublicURL }}
{{- range $provider, $letters := .Alphabet -}}
<h2>{{ $provider }}</h2>
{{ range $letter, $showNames := $letters -}}
<div class="kiosk">
<h2 class="kiosk__title">{{ $letter }}</h2>
<ul class="kiosk__container">
{{- range $showName := $showNames -}}
<li class="show-card">
<a class="show-card__container" href="{{ $PublicURL }}/{{ $provider }}/{{ $showName }}.html">
<img class="show-card__img" src="{{ $PublicURL }}/images/{{ $provider }}/{{ $showName }}.jpg">
<h3 class="show-card__title">{{ $showName }}</h3>
</a>
</li>
{{ end -}}
</ul>
</div>
{{ end }}
{{ end }}
{{ end }}