{{define "title" }}japoto/{{ .Provider}}/{{ .ShowName }}{{end}}
{{define "content"}}
<h2 class="show-page__title">{{.Provider}}/{{ .ShowName }}</h2>
<ul class="ep-list">
{{ range .Episodes }}<li class="ep-list__ep ep">
<div class="ep__row ep__row--meta">
{{ if .HasChannelURL -}}<a href="{{ .ChannelURL }}" target="_blank">{{- end}}
{{ .Title }}
{{ if .HasChannelURL -}}</a>{{- end}}
</div>
{{ if .HasPerformer -}}
<div class="ep__row">
{{.Performer}}
</div>
{{- end }}
<div class="ep__row ep__row--small ep__row--right">
<span class="ep__meta">[{{.MessageID}}]</span>
<span class="ep__meta">{{.Filename}}</span>
<span class="ep__meta">{{.Duration}}</span>
<span class="ep__meta">{{.Size}}</span>
</div>
</li>
{{ end }}</ul>
{{end}}
